body {
    background: linear-gradient(green, white);
    text-align: center;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
}